html
  height: unset !important
  min-height: 100% !important
  position: relative !important

body
  background: $color-2
  font-family: $font

.section-content
  margin-top: 55px
  margin-bottom: 120px


.section-footer
  padding: 15px
  position: absolute
  bottom: 0
  width: 100%
  background: $color-1
  color: $color-2
  -webkit-box-shadow: 0px -2px 30px 1px rgba(0,0,0,1)
  -moz-box-shadow: 0px -2px 30px 1px rgba(0,0,0,1)
  box-shadow: 0px -2px 30px 1px rgba(0,0,0,1)
  i
    color: $color-2
  .wrp-logo
      width: 85px
      height: auto


