.section-nav
  background: $color-1
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.72)  
  -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.72) 
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.72)  
  border-color: $color-2  
  .navbar-nav 
    > li
      // !llamar mixin
      //+border-radius(20px)
      > a
        color: $color-2
        letter-spacing: 0.5px
        font-weight: 500
        &:focus
          color: $color-1
          background-color: $color-2
        &:hover
          color: $color-1
          background-color: $color-2
    > .active 
      > a
        color: $color-1
        background-color: $color-2
        &:focus
          color: $color-1
          background-color: $color-2
        &:hover
          color: $color-1
          background-color: $color-2
  .navbar-header
    a
      padding: 5px 0px
    .wrp-logo
      width: 85px
      height: auto








