/* ------ TABLAS -------- */
.table thead{
	color: white;
    background: #0f1b35;
}

.table thead tr th{
	padding: 10px;
}

.table-responsive .dataTables_filter label {
  color: #0f1c35;
}

.table-responsive .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #0f1b35 !important;
}


.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #ffffff !important;
    border: 1px solid #ffffff;
    background-color: #0f1c35;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f1c35), color-stop(100%, #0f1b35));
    background: -webkit-linear-gradient(top, #0f1c35 0%, #0f1b35 100%);
    background: -moz-linear-gradient(top, #0f1c35 0%, #0f1b35 100%);
    background: -ms-linear-gradient(top, #0f1c35 0%, #0f1b35 100%);
    background: -o-linear-gradient(top, #0f1c35 0%, #0f1b35 100%);
    background: linear-gradient(to bottom, #0f1c35 0%, #0f1b35 100%);
}


.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #0f1b35 !important;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
    border: 1px solid #ffffff;
    background-color: #282828;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #272727));
    background: -webkit-linear-gradient(top, #585858 0%, #292929 100%);
    background: -moz-linear-gradient(top, #585858 0%, #4e3495 100%);
    background: -ms-linear-gradient(top, #585858 0%, #4e3495 100%);
    background: -o-linear-gradient(top, #585858 0%, #4e3495 100%);
    background: linear-gradient(to bottom, #585858 0%, #272727 100%);
}

.table-responsive table.dataTable.no-footer {
    border-bottom: 1px solid #4e3495;
}

.table-responsive table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #4e3495;
}

.table-responsive .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(78, 52, 149, 0.15);
}

.table-responsive .dataTables_length select{
  padding: 1px;
  margin-top: 5px;
}

.table-responsive .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgb(255, 255, 255);
}

.dataTables_filter input {
	height: 30px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}





